@use '../../../styles/helpers/' as *;

.gift {
    padding-block: rem(80);
    padding-inline: rem(130);
    background-color: var(--color-Ligthgrey);

    &__div {
        display: flex;
        flex-direction: column;
        row-gap: rem(65);

        &__div1 {
            display: flex;
            flex-direction: column;
            row-gap: rem(6);
            align-items: center;

            &__p {
                font-size: rem(20);
                font-weight: 600;
            }
        }

        &__div2 {
            display: flex;
            justify-content: end;
            column-gap: rem(1);

            &__buttons {
                display: flex;
                flex-direction: column;

                &__button {
                    padding: rem(60) rem(36);
                    border: none;
                    font-size: rem(30);
                    font-weight: 900;
                    background-color: rgba(199, 161, 122, 0.1);
                    color: rgba(65, 81, 103, 0.3);
                }

                &__buttonActive {
                    background-color: var(--color-light);
                    box-shadow: 1px 0 10px 0 rgba(205, 205, 205, 0.5);
                }
            }
        }
    }

    &__block {
        &__cardOne {
            display: flex;
            align-items: center;

            &__img {
                position: relative;
                margin-right: rem(-200);
            }

            &__div {
                display: flex;
                flex-direction: column;
                row-gap: rem(24);
                padding: rem(64);
                padding-left: rem(290);
                max-width: rem(794);
                background-color: var(--color-light);
                box-shadow: 1px 0 10px 0 rgba(205, 205, 205, 0.5);

                &__block1 {
                    display: flex;
                    flex-direction: column;
                    row-gap: rem(12);

                    &__price {
                        font-size: rem(20);
                        font-weight: 600;
                        color: var(--color-brown);
                    }

                    &__descrp {
                        font-size: rem(16);
                    }
                }

                &__block2 {
                    display: flex;
                    justify-content: space-between;

                    &__cell {
                        display: flex;
                        align-items: center;
                        column-gap: rem(12);

                        &__desc {
                            display: flex;
                            flex-direction: column;
                            row-gap: rem(1);

                            &__p {
                                font-size: rem(16);
                            }
                        }
                    }
                }

                &__block3 {
                    padding-top: rem(24);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}